#NavBar {
    padding: 5px;
}

#NavBar div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#leftSide {
    justify-content: flex-start;
}

#center {
    justify-content: center;
}

#rightSide {
    justify-content: flex-end;
}

#logo {
    width: 200px;
}

a:link {
    text-decoration: none;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

h1 {
    padding: 0;
    margin: 0;
}

/* #pokeballCounterContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#box1{
    grid-area: 1 1 5 5;
}

#box2{
    grid-area: 1 5 5 6;
}

#box3{
    grid-area: 5 1 7 6;
} */

#PokeballImg {
    width: 50px;
}