@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center p-4">
    <h1 class="display-4">application asp.net caisse enregistreuse</h1>
    <a asp-action="Index" asp-controller="Home">
        <img src="/img/dinosaure-fond-blanc.jpg" width="400" height="300" />
    </a>
</div>
