:root {
    --myBgColor: rgba(27, 182, 87, 0.5);
    --myLightColor: #f3f3f3;
    --myDarkColor: rgb(43, 43, 43);
}

body {
    text-align: center;
    background-color: var(--myBgColor);
    color: var(--myLightColor);
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.mesImg {
    height: 400px;
    width: 600px;
    padding-top: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.navLink {
    color: unset;
    text-decoration: none;
}

.horairesTable {
    border: var(--myLightColor) solid 2px;
    border-collapse: collapse;
    margin: 10px auto;
    /* padding: 2px; */
}

th,
td {
    border: var(--myLightColor) 1px solid;
}

.urgenceParagraphe {
    margin-top: 50px;
}

/* a:visited{
    color: unset;
} */

a:hover {
    opacity: 0.5;
}

/* .container {
    text-align: center;
} */


ul {
    list-style: none;
    font-size: large;
    /* width: 100%; */
    /* margin: 0;
    padding: 0; */
}

li {
    display: inline-block;
    padding-right: 10px;
}

/* float: left; */

.activeLink {
    pointer-events: none;
    color: var(--myDarkColor);
    font-family: 'Fuzzy Bubbles', cursive;
}

h1 {
    font-family: 'Fuzzy Bubbles', cursive;
}

.monFooter {
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: var(--myDarkColor);
    color: var(--myLightColor);
}


.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}