.footer{
    background-color: #7C8A2E;
    color: white;
    border-top: 3px solid #955E42;
    padding-top: 5px;
    margin-top: 40px;
    height: 30px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: orangered;
}